body {
    
    background-color: #1F2937;
}
#Heading{
    width: 354px;
    margin-top: 120px;
    margin-left: 52px;
    height: 40px;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: white;
}
#Heading-sub{
    width: 372px;
    height: 160px;
    margin-left: 52px;
    margin-bottom: -100px;
    font-weight: 800;
    font-size: 40px;
    color: #10B981;
}
#sub{
    color:#D5D4D8;
    width: 372px;
    height: 1px;
    margin-top: 0px;
    margin-left: 52px;
    font-weight: 400;
    font-size: 20px;
}
#but{
    
    width: 150px;
    height: 40px;
    margin-top: 60px;
    margin-left: 52px;
    border-radius: 6px;
    padding:9px, 17px, 9px, 15px ;
    background-color: #10B981;
    color: #FFFFFF;
}
.row {
    display: flex;

}

#rect1 {
    margin-left: 50px;
}

#rect2 {
    margin-right: 287px;
}

.rectangle {
    width: 211px; 
    margin-right: 20px; 
    margin-top: 100px;
    height: 25px;
    padding: 10px; 
    border: 1px solid #273549; 
    color: #10B981; 
    background-color: #273549;
}

.rectangle p {
    margin: 0; 
}